

/* General styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

/*Navbar-section*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-custom {
    color: #3B2F2F;
}
.navbar-custom .nav-link {
    color: #3B2F2F;
}
.navbar-custom .nav-link.active {
    font-weight: bold;
}


/* body-section */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 2rem 0;
}


/* Hero-section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFEBD4;
    padding: 8rem 0;
}
.btn {
    color: #3B2F2F;
}

/* Services-section */

/* Set height for images */
.services-section .card-img-top {
    height: 200px;
    object-fit: cover;
}
/* Add space between hero and services section */
.services-section {
    margin-top: 70px; /* Adjust the value as needed */
}

.services-section h2,
h3 {
    font-family: 'Handlee', cursive;
}

#services .card {
    margin-bottom: 1.5rem;
}
header .hero-section {
    height: 50vh; 
    background-color: #6F4E37; 
    color: #FFEBD4;
}
main .container img {
    max-width: 100%; 
    height: auto;
}

/* Wellness section */

h2 {
    font-family: 'Handlee', cursive;
}
.thanks {
    font-family: 'Handlee', cursive;
}

/* Testimonials section */

h2 {
    font-family: 'Handlee', cursive;
}
img {
    width: 100px; height: 100px; object-fit: cover;
}


/*Footer section*/
.footer {
    background-color: #6F4E37;    
}
p {
    color: #FFEBD4
}
a {
    color: #FFEBD4;
}

/* Footer */
.footer {
    margin-top: auto;
    background-color: #6F4E37;
    color: #FFEBD4;
}

.footer i.bi {
    color: #FFEBD4;
}

/* Navigation */
.nav-item.active .nav-link {
    color: #000000;
    font-weight: bolder;
}

/* Cards */
.card {
    border: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Testimonial Images */
.testimonial-image {
    width: 100px;
    height: 100px;
}

/* Rounded Images */
.rounded-image {
    border-radius: 15px;
}